    :root{
    --page-bg: #000;
    --page-text: rgba(255,255,255,0.85);
    --page-input: #141414;
    --border-input:#424242;
    --page-bg2:#1f1f1f;
    --name:#1668dc;
    --blur:rgba(255,255,255,0.25);

    --blue: #1668dc;
    --blue-hover: #3c89e8;
    --blue-active: #1554ad;

   --hdr-h:0px;                 /* header fixed */
   --flt-h:120px;                /* tinggi filters (diupdate JS) */
   --line-h:64px;                /* tinggi bar adjust line */
   --safe-b: env(safe-area-inset-bottom, 0px);
   --offset: 0px;
  }

  body.light-theme{
    --page-bg: #ffffff;
    --page-text: rgba(0,0,0,0.88);
    --page-input: #ffffff;
    --border-input:#d9d9d9;
    --page-bg2:#ffffff;
    --name:#1668dc;
    --blur:#00000063;

    --blue: #1668dc;
    --blue-hover: #3c89e8;
    --blue-active: #1554ad;
  }
body {
      background:var(--page-bg);
      color: var(--page-text);
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

.filter-bar {
  position: sticky;
  top: 0;
  z-index: 998;
  background: var(--page-bg);
  padding-top: 15px;
}
     .search-title {
      font-size: 30px;
      font-weight: bold;
      color: gold;
      animation: blinkColor 0.3s infinite;
      margin-top: 30px;
      text-align: center;
      letter-spacing: 1px;
    }
    .search-container {
      text-align: center;
      padding-bottom: 20px;
    }
    .search-container input {
      padding: 10px;
      font-size: 14px;
      width: 500px;
      border-radius: 6px;
      border: 1px solid var(--border-input);
      background-color: var(--page-input);
      color:var(--page-text);
      margin-top: 0;
    }
    .filter-tabs {
      text-align: center;
      margin-bottom: 10px;
    }
    .filter-tabs button {
      background-color: var(--page-input);
      color: var(--page-text);
      border: 1px solid var(--border-input);
      padding: 0px 15px;
      margin: 0 5px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease;
      height:32px;
    }
    .filter-tabs button.active{
     border: 1px solid var(--blue);
     color:var(--blue);
    }
    .filter-tabs button:hover {
     border: 1px solid var(--blue-hover);
     color:var(--blue-hover);
    }
.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 23px;
  padding: 0px 30px 30px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

    .game-alias {
      font-weight: bold;
      color: var(--page-text);
      margin-bottom: 1px !important;
      font-size: 12px !important;
    }
    .game-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      background:var(--page-input);
      border: 1px solid var(--border-input);
      border-radius: 6px;
      padding: 17px;
      transition: transform 0.2s ease;
      position: relative;
      top: 10px;
      box-sizing: border-box;
      width: 188px;
    }
    .game-logo img {
      width: 185px;
      height: 160px;
      object-fit: contain;
      margin-bottom: 8px;
    }
    .game-logo span {
      color: var(--blue);
      font-size: 14px;
      text-align: center;
    }
    .game-logo span,.game-logo:hover {
      color: var(--blue);
    }
    .platform-filters {
      text-align: center;
      padding-bottom: 10px;
    }
      .copy-notice {
        position: absolute;
        bottom: -12px;
        background-color: #141414;
        color: rgba(255,255,255,0.85);
        font-size: 12px;
        font-weight: bold;
        padding: 3px 6px;
        border-radius: 6px;
        animation: fadeNotice 0.3s ease;
        z-index: 1;
       }
     @keyframes fadeNotice {
     from { opacity: 0; transform: translateY(-5px); }
     to { opacity: 1; transform: translateY(0); }
    }
#backToTop {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blue);
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: all 0.3s ease;
}
#backToTop:hover {
  background-color: va(--blue-hover);
}
#backToTop:active { 
  background: var(--blue-active);
}
