    body {
      background:#000;
      color: white;
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    html { 
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
     html.body::-webkit-scrollbar {
      display: none;
    }
    .header {
      width: 100%;
      height: 90px;
      background: gold;
      color: #000;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      position: fixed;
      top: 0;
      z-index: 999;
      margin-bottom: 10px;
    }
    .filter-bar {
      position: sticky;
      top: 90px;
      background: radial-gradient(circle at top, #1f2937 0, transparent 55%), radial-gradient(circle at bottom, #020617 0, #000 65%) !important;
      z-index: 998;
      padding-top: 20px;
    }
     .search-title {
      font-size: 30px;
      font-weight: bold;
      color: gold;
      animation: blinkColor 0.3s infinite;
      margin-top: 30px;
      text-align: center;
      letter-spacing: 1px;
    }
    .search-container {
      text-align: center;
      padding: 20px;
      margin-top: -20px;
    }
    .search-container input {
      padding: 10px;
      font-size: 16px;
      width: 500px;
      border-radius: 5px;
      border: 1px solid gold;
      background-color: #000;
      color: gold;
      margin-top: 0;
    }
    .filter-tabs {
      text-align: center;
      margin-bottom: 10px;
    }
    .filter-tabs button {
      background-color: #111;
      color: gold;
      border: 1px solid gold;
      padding: 8px 16px;
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .filter-tabs button.active,
    .filter-tabs button:hover {
      background-color: gold;
      color: #111;
    }
    .logo-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 23px;
      padding: 20px 30px;
      justify-content: center;
      max-width: 1000px;
      margin: 80px auto 0 auto;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .logo-grid::-webkit-scrollbar {
      display: none;
    }
    .game-alias {
      font-weight: bold;
      color: gold !important;
      margin-bottom: 1px !important;
      font-size: 12px !important;
    }
    .game-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: radial-gradient(circle at top, #1f2937 0, transparent 55%), radial-gradient(circle at bottom, #020617 0, #000 65%) !important;
      border: 2px solid gold;
      border-radius: 10px;
      padding: 17px;
      transition: transform 0.2s ease;
      position: relative;
      top: 10px;
      box-sizing: border-box;
      width: 188px;
    }
    .game-logo img {
      width: 185px;
      height: 160px;
      object-fit: contain;
      margin-bottom: 8px;
    }
    .game-logo span {
      color: white;
      font-size: 14px;
      text-align: center;
    }
    .game-logo:hover {
      transform: scale(1.05);
      box-shadow: 0 0 12px gold;
      background-color: #1642bd1f;
    }
    .platform-filters {
      text-align: center;
      padding-bottom: 10px;
    }
      .copy-notice {
        position: absolute;
        bottom: -12px;
        background-color: gold;
        color: black;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 6px;
        border-radius: 6px;
        box-shadow: 0 0 5px #000;
        animation: fadeNotice 0.3s ease;
        z-index: 1;
       }
     @keyframes fadeNotice {
     from { opacity: 0; transform: translateY(-5px); }
     to { opacity: 1; transform: translateY(0); }
    }
#backToTop {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: gold;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: all 0.3s ease;
}
#backToTop:hover {
  background-color: #ffe34d;
  color: black;
}
#backToTop:active { 
  background: #dbb900;
  color: black;
}
