/* ===== Paper container ===== */
.paper{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%) scale(3.7);
  transform-origin:top center;
  width:595px;
  height:500px;
  overflow:hidden;
}
.paper-bg{position:absolute;left:0;top:0}

input, select {
  background: #ffffff;
  color: #000;
  border: 2px solid #bdbdbd;
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 13px;
  outline: none;
  transition: all .2s ease;
}
input::placeholder {
  color: #9a9a9a;
}
input:focus-visible {
  outline: none;
}
input:focus, select:focus {
  border-color: #16dca5;
  box-shadow:
    0 0 0 3px rgba(22,220,165,.28),
    0 8px 20px rgba(0,0,0,.25);
  background: #f6fffb;
}
/* ===== Original text classes ===== */
span.cls_002,div.cls_002{font-family:Arial,serif;font-size:18.1px;color:#000;font-weight:bold}
span.cls_003,div.cls_003{font-family:Arial,serif;font-size:12.1px;color:#000}
span.cls_004,div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,153,0);font-weight:bold}
span.cls_005,div.cls_005{font-family:Arial,serif;font-size:12.1px;color:#000;font-weight:bold}
span.cls_006,div.cls_006{font-family:Arial,serif;font-size:8.1px;color:#000;font-weight:bold}

/* ===== Absolute positions (same as your inline) ===== */
.pos-title{position:absolute;left:36px;top:107.48px}
.pos-status-l{position:absolute;left:36px;top:147.48px}
.pos-status-r{position:absolute;left:300.83px;top:147.48px}
.pos-ref-l{position:absolute;left:36px;top:167.97px}
.pos-ref-r{position:absolute;left:300.83px;top:167.97px}
.pos-date-l{position:absolute;left:36px;top:188.45px}
.pos-date-r{position:absolute;left:300.83px;top:188.45px}
.pos-amt-l{position:absolute;left:36px;top:229.42px}
.pos-amt-r{position:absolute;left:300.83px;top:229.42px}
.pos-to-l{position:absolute;left:36px;top:270.39px}
.pos-to-r{position:absolute;left:300.83px;top:270.39px}
.pos-name-l{position:absolute;left:36px;top:290.87px}
.pos-name-r{position:absolute;left:300.83px;top:290.87px}
.pos-rec-l{position:absolute;left:36px;top:311.36px}
.pos-rec-r{position:absolute;left:300.83px;top:311.36px}
.pos-other-l{position:absolute;left:36px;top:331.84px}
.pos-note{position:absolute;left:36px;top:372.80px}
.pos-foot{position:absolute;left:36px;top:441.20px}

/* ===== Editor ===== */
.editor{display:inline}

/* Buttons */
.btn{cursor:pointer;border:none;padding:2px 8px;color: #fff;transition: all 0.2s;}
.btn-green{background-color:#389a6e;border-radius: 3px;border-color: #389a6e;}
.btn-red{background-color:#D0104C;border-radius: 3px;border-color: #D0104C;}
.btn-red:hover{background-color:#f93975;border-color: #f93975;}
.btn-red:active{background-color:#ab0d3e;border-color: #ab0d3e;}
.btn-green:hover{background-color:#47b383;border-color: #47b383;}
.btn-green:active{background-color:#1d714b;border-color: #1d714b;}
/* Editor absolute positions */
.pos-now{position:absolute;left:310px;top:50px}
.pos-ref{position:absolute;left:235px;top:25px}
.pos-date{position:absolute;left:235px;top:50px}
.pos-amt{position:absolute;left:235px;top:75px}
.pos-create{position:absolute;left:360px;top:100px}
.pos-hide{position:absolute;left:418px;top:100px}
.pos-reset{position:absolute;left:482px;top:100px}
.pos-change{position:absolute;left:508px;top:25px}

/* Date mode styling (same layout you had inline) */
.date-mode-1{
  visibility:visible;
  position:absolute;
  left:125px;
  width:177px;
  border-radius: 3px;
  transition: all 0.2s;
}
.date-mode-2{visibility:hidden}

.d-dd{position:absolute;bottom:-1.8px;left:125px;width:15px;padding:2px;}
.d-mm{position:absolute;bottom:-1.8px;left:148px;width:50px;height:21px; padding:2px}
.d-yyyy{position:absolute;bottom:-1.8px;left:200px;width:29px;padding:2px;}
.d-hh{position:absolute;bottom:-1.8px;left:237px;width:22px;padding:2px;}
.d-ii{position:absolute;bottom:-1.8px;left:267px;width:24px;padding:2px;}
.d-ss{position:absolute;bottom:-1.8px;left:299px;width:15px;padding:2px;}
.d-colon{position:absolute;bottom:0px;width:24px}
.d-colon1{left:256px}
.d-colon2{left:286px}

.amt-input{position:absolute;left:125px;border-radius: 3px;transition: all 0.2s;}
#inRef{border-radius: 3px;transition: all 0.2s;width: 120px !important;}
