/* ===== Paper container ===== */
.paper{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%) scale(3.7);
  transform-origin:top center;
  width:595px;
  height:500px;
  border-style:outset;
  overflow:hidden;
}
.paper-bg{position:absolute;left:0;top:0}

/* ===== Original text classes ===== */
span.cls_002,div.cls_002{font-family:Arial,serif;font-size:18.1px;color:#000;font-weight:bold}
span.cls_003,div.cls_003{font-family:Arial,serif;font-size:12.1px;color:#000}
span.cls_004,div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,153,0);font-weight:bold}
span.cls_005,div.cls_005{font-family:Arial,serif;font-size:12.1px;color:#000;font-weight:bold}
span.cls_006,div.cls_006{font-family:Arial,serif;font-size:8.1px;color:#000;font-weight:bold}

/* ===== Absolute positions (same as your inline) ===== */
.pos-title{position:absolute;left:36px;top:107.48px}
.pos-status-l{position:absolute;left:36px;top:147.48px}
.pos-status-r{position:absolute;left:300.83px;top:147.48px}
.pos-ref-l{position:absolute;left:36px;top:167.97px}
.pos-ref-r{position:absolute;left:300.83px;top:167.97px}
.pos-date-l{position:absolute;left:36px;top:188.45px}
.pos-date-r{position:absolute;left:300.83px;top:188.45px}
.pos-amt-l{position:absolute;left:36px;top:229.42px}
.pos-amt-r{position:absolute;left:300.83px;top:229.42px}
.pos-to-l{position:absolute;left:36px;top:270.39px}
.pos-to-r{position:absolute;left:300.83px;top:270.39px}
.pos-name-l{position:absolute;left:36px;top:290.87px}
.pos-name-r{position:absolute;left:300.83px;top:290.87px}
.pos-rec-l{position:absolute;left:36px;top:311.36px}
.pos-rec-r{position:absolute;left:300.83px;top:311.36px}
.pos-other-l{position:absolute;left:36px;top:331.84px}
.pos-note{position:absolute;left:36px;top:372.80px}
.pos-foot{position:absolute;left:36px;top:441.20px}

/* ===== Editor ===== */
.editor{display:inline}

/* Buttons */
.btn{cursor:pointer;border:none;padding:2px 8px}
.btn-green{background-color:#389a6e;border-radius: 3px;border-color: #389a6e;}
.btn-red{background-color:#D0104C;border-radius: 3px;border-color: #D0104C;}
.btn-green:hover{background-color:#47b383;border-color: #47b383;}
.btn-green:active{background-color:#1d714b;border-color: #1d714b;}
/* Editor absolute positions */
.pos-now{position:absolute;left:310px;top:50px}
.pos-ref{position:absolute;left:235px;top:25px}
.pos-date{position:absolute;left:235px;top:50px}
.pos-amt{position:absolute;left:235px;top:75px}
.pos-create{position:absolute;left:360px;top:100px}
.pos-hide{position:absolute;left:418px;top:100px}
.pos-reset{position:absolute;left:482px;top:100px}
.pos-change{position:absolute;left:508px;top:25px}

/* Date mode styling (same layout you had inline) */
.date-mode-1{
  visibility:visible;
  position:absolute;
  left:125px;
  width:206px;
}
.date-mode-2{visibility:hidden}

.d-dd{position:absolute;bottom:-3px;left:125px;width:24px}
.d-mm{position:absolute;bottom:-3px;left:150px;width:50px;height:21px}
.d-yyyy{position:absolute;bottom:-3px;left:201px;width:40px}
.d-hh{position:absolute;bottom:-3px;left:245px;width:24px}
.d-ii{position:absolute;bottom:-3px;left:275px;width:24px}
.d-ss{position:absolute;bottom:-3px;left:305px;width:24px}
.d-colon{position:absolute;bottom:0px;width:24px}
.d-colon1{left:270px}
.d-colon2{left:300px}

.amt-input{position:absolute;left:125px}
